@model _01_ViewBag.Models.ViewModel.Ejercicio4EditarPersonaVM

<div>

    <form>

        <div>
            @Html.LabelFor(m => m.persona.nombre)
            @Html.TextBoxFor(m => m.persona.nombre, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.persona.apellido)
            @Html.TextBoxFor(m => m.persona.apellido, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.persona.  edad)
            @Html.TextBoxFor(m => m.persona.edad, new { type = "number", @class = "form-control" })
        </div>
        


    <select>
        @foreach (var departamento in Model.departamentos)
        {
            if (departamento.idDepartamento == Model.persona.departamento)
            {
                <option selected="selected" value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
            else
            {
                    <option value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
        }
    </select>

    </form>

</div>