@model _01_ViewBag.Models.ViewModel.Ejercicio4EditarPersonaVM

<div>

    @Model.persona.nombre
    <form>

        <label>Nombre:</label>
        <input type="text"/>
        <br />
        <label>Edad:</label>
        <input type="number"/>
        <br />
        <label>Departamento:</label>
        


    <select>
        @foreach (var departamento in Model.departamentos)
        {
            if (departamento.idDepartamento == Model.persona.departamento)
            {
                <option selected="selected" value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
            else
            {
                    <option value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
        }
    </select>

    </form>

</div>