@model _01_ViewBag.Models.ViewModel.Ejercicio4EditarPersonaVM

<div>

    @Model.persona.edad
    <form>

        <label>Nombre:</label>
        <input type="text" value=@Model.persona.nombre />
        <br />
        <label>Edad:</label>
        <input type="number" value=@Model.persona.edad/>
        <br />
        <label>Departamento:</label>
        


    <select>
        @foreach (var departamento in Model.departamentos)
        {
            if (departamento.idDepartamento == Model.persona.departamento)
            {
                <option selected="selected" value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
            else
            {
                    <option value="@departamento.idDepartamento">@departamento.nombreDepartamento</option>
            }
        }
    </select>

    </form>

</div>