@using _01_ViewBag.Models.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Holis</h1>
    <p>@ViewData["Saludo"]</p>
    <p>@ViewBag.Hora</p>
    <p>Nombre: @Model.nombre</p>

    @Html.ActionLink("Link Ejercicio2", "Ejercicio2", "Home")
    @Html.ActionLink("Link Ejercicio3", "Ejercicio3", "Home")
    @Html.ActionLink("Link Ejercicio4", "Ejercicio4", "Home")
    @Html.ActionLink("Link Ejercicio4 Departamentos", "Ejercicio4Departamentos", "Home")
    @Html.ActionLink("Link Ejercicio4 Editar", "Ejercicio4EditarPersona", "Home")




</div>
